<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<ion-content [fullscreen]="true">
  <div class="browse">
    <h2>Browse</h2>
  </div>
  <ion-card>
    <img alt="HOTEL" src="assets/icon/4.jpg" />
    <ion-card-header>
      <ion-card-title>Deluxe</ion-card-title>
      <ion-card-subtitle>₱15,050.00 per night</ion-card-subtitle>
      <ion-card-subtitle>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star "></span>
        (408 reviews)</ion-card-subtitle>
      <a href="./booking"><button class="book-btn">Book Now</button></a>  
    </ion-card-header>



    <img alt="HOTEL" src="assets/icon/desc.jpeg" />
    <ion-card-header>
      <ion-card-title>Jose Rizal</ion-card-title>
      <ion-card-subtitle>$150.00 per night</ion-card-subtitle>
      <ion-card-subtitle>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        (408 reviews)</ion-card-subtitle>
      <a href="./booking"><button class="book-btn">Book Now</button></a>  
    </ion-card-header>


    <img alt="HOTEL" src="assets/icon/2.jpg" />
    <ion-card-header>
      <ion-card-title>Jose Rizal</ion-card-title>
      <ion-card-subtitle>$150.00 per night</ion-card-subtitle>
      <ion-card-subtitle>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        (408 reviews)</ion-card-subtitle>
        
      <a href="./booking"><button class="book-btn">Book Now</button></a>  
    </ion-card-header>

    <img alt="HOTEL" src="assets/icon/9.jpg" />
    <ion-card-header>
      <ion-card-title>Single Room</ion-card-title>
      <ion-card-subtitle>₱1,050.00 per night</ion-card-subtitle>
      <ion-card-subtitle>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        (408 reviews)</ion-card-subtitle>
        
      <a href="./booking"><button class="book-btn">Book Now</button></a>  
    </ion-card-header>
    
  </ion-card>
</ion-content>
