ion-card {
    margin-top: -5%;
}

img {
    border-radius: 10px;
    margin-top: 5%;
}

.browse{
    margin-top: 3%;
}

.browse h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #555;
}

.book-btn {
    margin-left: 65%;
    margin-top: -15%;
    box-shadow: none;
    width: 40%;
    height: 25px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 20px;
    
}

.checked {
    color: orange;
  }