
<ion-content [fullscreen]="true"> 

  <div class="container">
    <p class="sea-head">SEARCH YOUR DESIRE</p>
  </div>

 <div class="content-div">

  

  <div class="upper">
    <div class="header">
      <h1>Rooms</h1>
      <p>Stay First, Pay After!</p>
    </div>
    <div class="dmc-header">

      <div class="dmc-content">
        <img src="assets/icon/1.jpg" alt="">
      </div>
      
  
      <div class="dmc-content">
        <img src="assets/icon/2.jpg" alt="">
      </div>
  
      <div class="dmc-content">
        <img src="assets/icon/5.jpg" alt="">
      </div>

      <div class="dmc-content">
        <img src="assets/icon/6.jpg" alt="">
      </div>
      <div class="dmc-content">
        <img src="assets/icon/11.jpg" alt="">
      </div>
  
    </div>
    </div>

    <div class="upper-1">
      <div class="header-1">
        <h1>Rooms</h1>
        <p>Stay First, Pay After!</p>
      </div>
      <div class="dmc-header-1">
  
        <div class="dmc-content-1">
          <img src="assets/icon/3.jpg" alt="">
        </div>
        
    
        <div class="dmc-content-1">
          <img src="assets/icon/4.jpg" alt="">
        </div>
    
        <div class="dmc-content-1">
          <img src="assets/icon/7.jpg" alt="">
        </div>
  
        <div class="dmc-content-1">
          <img src="assets/icon/8.jpg" alt="">
        </div>
    
        <div class="dmc-content-1">
          <img src="assets/icon/9.jpg" alt="">
        </div>
    
      </div>
      </div>
  




 </div>

</ion-content>
