<ion-content [fullscreen]="true">
  <h1 class="head-app">App Notifications</h1>
  
  <div class="search-container">
    <input type="text" name="search" placeholder="Search..." class="search-input">
    <a href="#" class="search-btn">
           <img src="assets/icon/search.svg" alt="">    
    </a>
</div>

<ion-list class="not">
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Huey
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Dewey
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Louie
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Fooie
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Huey
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Dewey
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Louie
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Fooie
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </ion-label>
  </ion-item>

  
</ion-list>
 
</ion-content>
