body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.h-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.booking-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.booking-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.booking-form .form-group {
    margin-bottom: 15px;
}
.booking-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.booking-form .form-group input,
.booking-form .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.booking-form .form-group textarea {
    resize: vertical;
}
.booking-form button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.booking-form button:hover {
    background-color: #4d4d4d;
}