 

  ion-title {
    color: rgb(0, 0, 0);
  }
  
  ion-buttons {
    color: white;
  }

  * {box-sizing: border-box}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.top {
    margin-left: 7%;
    width: 90%;
}

.logo img {
    margin-top: -20%;
    align-content: center;
    border-radius: 25px;
    border: 2px solid #ffffff;
    
    
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 0.8rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    
}

.wrapper .form-field {
    margin-top: 5%;
    padding-left: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid #808080;
    
}

.wrapper .form-field .fas {
    color: #555;
}

.log-h1 {
    margin-top: 10%;
    font-size: large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.log-p {
    text-align: center;
    font-size: smaller;
    
}

.login-btn {
    margin-top: 5%;
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 10px;
    
}

.register-btn {
    margin-top: 5%;
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 10px;
}

.google :hover {
    background-color: rgb(232, 232, 232);
}

.cont-span {
    
   margin-top: 10%;
   width: 100%; 
   text-align: center; 
   color: #555;
   border-bottom: 1px solid #555; 
   line-height: 0.1em;
   

}

.cont-span span {
    background:#fff; 
    padding:0 10px; 
    

}

.google p {
    margin-top: -7%;
    text-align: center;
    color: black;
    font-weight: bold;

}

.google img {
    margin-top: -3%;
    margin-left: -35%;
    height: 20px;
    width: 20px;
    
}


.google-btn {
    
    margin-top: 5%;
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #cfcfcf;
    color: #fff;
    border-radius: 10px;
}

.privacy {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: smaller;
    font-style: normal;
    margin-top: 20%;
    text-align: center;
}
.privacy p {
    color: #808080;
}

.privacy b {
    color: black;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}

.title {
    text-align: center;
}

